.footer {
    border-top: 2px solid #23478a;
    &__body {
        padding: 50px 0;
        display: flex;
        justify-content: space-between;
        @media (max-width: $mobile) {
            flex-direction: column;
            gap: 30px;
        }
    }
    &__logo {
        height: fit-content;
        @media (max-width: $mobile) {
            width: 160px;
        }
    }
    &__column {
        h5 {
            margin-bottom: 16px;
        }
        ul {
            li {
                &:not(:last-child) {
                    margin-bottom: 16px;
                }
                a {
                    transition: 0.3s;
                    &:hover {
                        color: $primary800;
                    }
                }
            }
        }
    }
    &__copyright {
        padding: 15px 0;
        border-top: 1px solid rgba(44, 44, 48, 0.25);
        p {
            text-align: center;
        }
    }
}
