@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?aef8go');
    src: url('../fonts/icomoon.woff') format('woff'), url('../fonts/icomoon.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
    font-family: 'icomoon' !important;
    font-style: normal;
    font-size: 24px;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-crop:before {
    content: "\e908";
}

.icon-search:before {
    content: "\e907";
}

.icon-calendar:before {
    content: "\e901";
}

.icon-mail:before {
    content: "\e902";
}

.icon-phone:before {
    content: "\e903";
}

.icon-pin:before {
    content: "\e904";
}

.icon-print:before {
    content: "\e905";
}

.icon-chevron__right:before {
    content: "\e900";
}

.icon-chevron__left:before {
    display: inline-block;
    content: '\e900';
    transform: rotate(180deg);
}

.icon-chevron__down:before {
    display: inline-block;
    content: '\e900';
    transform: rotate(90deg);
}

.icon-arrow__right:before {
    display: inline-block;
    content: "\e906";
}

.icon-arrow__left:before {
    display: inline-block;
    content: "\e906";
    transform: rotate(180deg);
}