<div class="card">
    <div class="card__body">
        <img src="@img/post.jpeg" alt="project image">
        <h4>Sprijin în funcție de nevoi pentru refugiații cu dizabilități din Ucraina în Moldova Sprijin în funcție de nevoi pentru refugiații cu dizabilități din Ucraina în Moldova</h4>
        <span>10 aug., 2023</span>
        <!-- <p>Scopul proiectului: a contribui la bunăstarea refugiaților din Ucraina care trăiesc în Republica Moldova prin acordarea suportului umanitar.</p> -->
    </div>
    <div class="line"></div>
</div>