<footer class="footer">
    <div class="footer__container">
        <div class="footer__body">
            <img class="footer__logo" src="@img/logo.png" alt="logo" />
            <div class="footer__column">
                <h5>Date de contact</h5>
                <ul>
                    <li>
                        <a href="#">Mun. Chișinău, Piața Marii Adunări Naționale 1</a>
                    </li>
                    <li>
                        <a href="mailto:inascolnii@aossd.gov.md">inascolnii@aossd.gov.md</a>
                    </li>
                    <li>
                        <a href="tel:(+373 22) 234 213">(+373 22) 234 213</a>
                    </li>
                    <li>
                        <a href="tel:(+373 22) 234 312">(+373 22) 234 312</a>
                    </li>
                </ul>
            </div>
            <div class="footer__column">
                <h5>Partenerii</h5>
                <ul>
                    <li>
                        <a href="#">Uniunea Europeană</a>
                    </li>
                    <li>
                        <a href="">Banca Europeană de Investiții</a>
                    </li>
                    <li>
                        <a href="">Banca Mondială</a>
                    </li>
                    <li>
                        <a href="">Facilitatea Globală de Mediu</a>
                    </li>
                </ul>
            </div>
            <div class="footer__column">
                <h5>Proiecte</h5>
                <ul>
                    <li>
                        <a href="#">Proiect 1</a>
                    </li>
                    <li>
                        <a href="#">Proiect 1</a>
                    </li>
                    <li>
                        <a href="#">Proiect 1</a>
                    </li>
                    <li>
                        <a href="#">Proiect 1</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer__copyright copyright">
        <p>Copyright © <time>2023</time>. All rights reserved</p>
    </div>
</footer>
