<div class="wrapper">
    <header class="header">
        <div class="header__upper">
            <div class="header__container">
                <a href="/" class="header__logo">
                    <img src="@img/logo.png" alt="" />
                </a>
                <div class="header__upper-right">
                    <form action="#" class="search border-40">
                        <i class="icon-search"></i>
                        <input type="text" placeholder="Search">
                    </form>
                    <div class="language">
                        <span class="language-current">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                            >
                                <g clip-path="url(#clip0_17_372)">
                                    <mask
                                        id="mask0_17_372"
                                        style="mask-type: luminance"
                                        maskUnits="userSpaceOnUse"
                                        x="0"
                                        y="0"
                                        width="24"
                                        height="24"
                                    >
                                        <path d="M24 0H0V24H24V0Z" fill="white" />
                                    </mask>
                                    <g mask="url(#mask0_17_372)">
                                        <path
                                            d="M16.174 0.746344C14.8739 0.264047 13.4679 6.23895e-09 12.0001 6.23895e-09C10.5322 -4.68688e-05 9.12618 0.264047 7.8262 0.746344L6.78271 12L7.8262 23.2536C9.12614 23.736 10.5322 24 12.0001 24C13.4679 24 14.874 23.736 16.174 23.2536L17.2174 12L16.174 0.746344Z"
                                            fill="#FFDA44"
                                        />
                                        <path
                                            d="M23.9999 12C23.9999 6.84048 20.7434 2.44186 16.1738 0.746399V23.2537C20.7434 21.558 23.9999 17.1596 23.9999 12Z"
                                            fill="#D80027"
                                        />
                                        <path
                                            d="M0 12C0 17.1596 3.2565 21.5581 7.82602 23.2537L7.82606 0.74646C3.2565 2.44192 0 6.8404 0 12Z"
                                            fill="#0052B4"
                                        />
                                    </g>
                                </g>
                                <defs>
                                    <clipPath id="clip0_17_372">
                                        <rect width="24" height="24" fill="white" />
                                    </clipPath>
                                </defs>
                            </svg>
                            <i class="icon-chevron__down"></i>
                        </span>
                        <ul class="language-list">
                            <li>
                                <button>
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        width="24"
                                        height="24"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                    >
                                        <g clip-path="url(#clip0_17_372)">
                                            <mask
                                                id="mask0_17_372"
                                                style="mask-type: luminance"
                                                maskUnits="userSpaceOnUse"
                                                x="0"
                                                y="0"
                                                width="24"
                                                height="24"
                                            >
                                                <path d="M24 0H0V24H24V0Z" fill="white" />
                                            </mask>
                                            <g mask="url(#mask0_17_372)">
                                                <path
                                                    d="M16.174 0.746344C14.8739 0.264047 13.4679 6.23895e-09 12.0001 6.23895e-09C10.5322 -4.68688e-05 9.12618 0.264047 7.8262 0.746344L6.78271 12L7.8262 23.2536C9.12614 23.736 10.5322 24 12.0001 24C13.4679 24 14.874 23.736 16.174 23.2536L17.2174 12L16.174 0.746344Z"
                                                    fill="#FFDA44"
                                                />
                                                <path
                                                    d="M23.9999 12C23.9999 6.84048 20.7434 2.44186 16.1738 0.746399V23.2537C20.7434 21.558 23.9999 17.1596 23.9999 12Z"
                                                    fill="#D80027"
                                                />
                                                <path
                                                    d="M0 12C0 17.1596 3.2565 21.5581 7.82602 23.2537L7.82606 0.74646C3.2565 2.44192 0 6.8404 0 12Z"
                                                    fill="#0052B4"
                                                />
                                            </g>
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_17_372">
                                                <rect width="24" height="24" fill="white" />
                                            </clipPath>
                                        </defs>
                                    </svg>
                                </button>
                            </li>
                            <li>
                                <button>
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        width="24"
                                        height="24"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                    >
                                        <g clip-path="url(#clip0_17_372)">
                                            <mask
                                                id="mask0_17_372"
                                                style="mask-type: luminance"
                                                maskUnits="userSpaceOnUse"
                                                x="0"
                                                y="0"
                                                width="24"
                                                height="24"
                                            >
                                                <path d="M24 0H0V24H24V0Z" fill="white" />
                                            </mask>
                                            <g mask="url(#mask0_17_372)">
                                                <path
                                                    d="M16.174 0.746344C14.8739 0.264047 13.4679 6.23895e-09 12.0001 6.23895e-09C10.5322 -4.68688e-05 9.12618 0.264047 7.8262 0.746344L6.78271 12L7.8262 23.2536C9.12614 23.736 10.5322 24 12.0001 24C13.4679 24 14.874 23.736 16.174 23.2536L17.2174 12L16.174 0.746344Z"
                                                    fill="#FFDA44"
                                                />
                                                <path
                                                    d="M23.9999 12C23.9999 6.84048 20.7434 2.44186 16.1738 0.746399V23.2537C20.7434 21.558 23.9999 17.1596 23.9999 12Z"
                                                    fill="#D80027"
                                                />
                                                <path
                                                    d="M0 12C0 17.1596 3.2565 21.5581 7.82602 23.2537L7.82606 0.74646C3.2565 2.44192 0 6.8404 0 12Z"
                                                    fill="#0052B4"
                                                />
                                            </g>
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_17_372">
                                                <rect width="24" height="24" fill="white" />
                                            </clipPath>
                                        </defs>
                                    </svg>
                                </button>
                            </li>
                            <li>
                                <button>
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        width="24"
                                        height="24"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                    >
                                        <g clip-path="url(#clip0_17_372)">
                                            <mask
                                                id="mask0_17_372"
                                                style="mask-type: luminance"
                                                maskUnits="userSpaceOnUse"
                                                x="0"
                                                y="0"
                                                width="24"
                                                height="24"
                                            >
                                                <path d="M24 0H0V24H24V0Z" fill="white" />
                                            </mask>
                                            <g mask="url(#mask0_17_372)">
                                                <path
                                                    d="M16.174 0.746344C14.8739 0.264047 13.4679 6.23895e-09 12.0001 6.23895e-09C10.5322 -4.68688e-05 9.12618 0.264047 7.8262 0.746344L6.78271 12L7.8262 23.2536C9.12614 23.736 10.5322 24 12.0001 24C13.4679 24 14.874 23.736 16.174 23.2536L17.2174 12L16.174 0.746344Z"
                                                    fill="#FFDA44"
                                                />
                                                <path
                                                    d="M23.9999 12C23.9999 6.84048 20.7434 2.44186 16.1738 0.746399V23.2537C20.7434 21.558 23.9999 17.1596 23.9999 12Z"
                                                    fill="#D80027"
                                                />
                                                <path
                                                    d="M0 12C0 17.1596 3.2565 21.5581 7.82602 23.2537L7.82606 0.74646C3.2565 2.44192 0 6.8404 0 12Z"
                                                    fill="#0052B4"
                                                />
                                            </g>
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_17_372">
                                                <rect width="24" height="24" fill="white" />
                                            </clipPath>
                                        </defs>
                                    </svg>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="burger">
                    <span></span>
                </div>
            </div>
        </div>
        <nav class="header__nav header__container">
            <ul class="header__nav-list">
                <li>
                    <a href="../about.html">Despre noi</a>
                </li>
                <li>
                    <a href="#">Finanțatori si proiecte</a>
                </li>
                <li>
                    <button href="#">
                        Media
                        <i class="icon-chevron__down"></i>
                        <ul class="submenu">
                            <li>
                                <a href="#">item</a>
                            </li>
                            <li>
                                <a href="#">item</a>
                            </li>
                            <li>
                                <a href="#">item</a>
                            </li>
                        </ul>
                    </button>
                </li>
                <li>
                    <button href="#">
                        Transparenta
                        <i class="icon-chevron__down"></i>
                        <ul class="submenu">
                            <li>
                                <a href="#">item</a>
                            </li>
                            <li>
                                <a href="#">item</a>
                            </li>
                            <li>
                                <a href="#">item</a>
                            </li>
                        </ul>
                    </button>
                </li>
                <li>
                    <a href="#">Oportunității de voluntariat</a>
                </li>
                <li>
                    <a href="../contact.html">Date de contact</a>
                </li>
            </ul>
        </nav>
    </header>