.about {
    &__block {
        &:nth-child(2) {
            .about__container {
                img {
                    order: -1;
                    @media (max-width: $mobileMedium) {
                        order: 2;
                    }
                }
            }
        }
    }
    .history {
        h2 {
            margin-bottom: 30px;
        }

        &__list {
            position: relative;
            &::before {
                position: absolute;
                top: 4px;
                left: 4px;
                display: block;
                content: '';
                background-color: $primary600;
                height: calc(100% - 10px);
                width: 2px;
            }
            li {
                position: relative;
                padding: 20px;
                line-height: 150%;
                &:first-of-type {
                    padding-top: 0px;
                    &::after {
                        top: 8px;
                    }
                }
                &:last-of-type {
                    padding-bottom: 0px;
                    &::after {
                        top: calc(100% - 10px);
                    }
                }
                &::after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background-color: $primary600;
                    z-index: 2;
                }
            }
        }
    }
}
