.donors {
    &-filters {
        display: flex;
        align-items: center;
        gap: 10px;
        margin: 20px 0;
        &__item {
            display: flex;
            align-items: center;
            justify-content: center;
            border: $border;
            border-radius: 4px;
            width: 100px;
            height: 55px;
            padding-inline: 5px;
            transition: .2s;
            button {
                display: flex;
                align-items: center;
                font-size: 12px;
                font-weight: 700;
                line-height: 120%;
                color: #122F53;
                img {
                    width: 100%;
                }
            }
            &:hover {
                border: 1px solid #66B7E6;
                background: rgba(102, 183, 230, 0.25);
            }
        }
    }
}