.hero {
    background: linear-gradient(224deg, #64A2F2 0%, #0052B4 100%);
    @include adaptiv-value('padding-top', 32, 15, 1);
    @include adaptiv-value('padding-bottom', 32, 15, 1);
    &__container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px 20px;
        @media (max-width: $mobile) {
            grid-template-columns: repeat(3, 1fr);
        }
        @media (max-width: $mobileSmall) {
            grid-template-columns: repeat(2, 1fr);
        }
        >div,
        a {
            width: 100%;
            max-width: 295px;
            img {
                width: 64px;
                @media (max-width: $mobileMedium) {
                    width: 32px;
                }
            }
        }
    }
    &__text {
        @media (max-width: $mobile) {
            grid-column: 4 span;
        }
        * {
            color: #fff;
        }
        p {
            margin-bottom: 10px;
        }
    }
    &__card {
        display: flex;
        align-items: center;
        flex-flow: column nowrap;
        @include adaptiv-value("gap", 32, 15, 1);
        background-color: #FFF;
        @include adaptiv-value('padding-top', 35, 20, 1);
        @include adaptiv-value('padding-bottom', 35, 20, 1);
        transition: .3s;
        &:hover {
            transform: scale(1.03);
        }
        @media (max-width: $mobileMedium) {}
    }
}

.hero-slider {
    padding: 25px 0;
    background-color: #ECF3F9;
    &__slider {
        position: relative;
        .slider-hero__body {
            .slider-hero__slide {
                height: 500px;
                display: flex;
                flex-flow: column nowrap;
                justify-content: space-between;
                padding: 30px 24px 24px;
                @media (max-width: $mobileMedium) {
                    padding: 15px;
                }
                h2 {
                    max-width: 590px;
                    color: #FFF;
                    text-transform: uppercase;
                    line-height: 120%;
                }
                .labels {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    span {
                        padding: 8px;
                        border-radius: 30px;
                        background-color: #FFF;
                        @media (max-width: $mobileMedium) {
                            font-size: 12px;
                        }
                        i {
                            vertical-align: bottom;
                            font-size: 16px;
                        }
                    }
                }
            }
        }
        .slider-hero-controls {
            position: absolute;
            top: 30px;
            right: 24px;
            @media (max-width: $mobileMedium) {
                top: 15px;
                right: 15px;
            }
            z-index: 2;
            .slider-arrows {
                display: flex;
                align-items: center;
                gap: 10px;
            }
            .slider-arrow {
                width: 30px;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 30px;
                background: rgba(255, 255, 255, 0.70);
                transition: .3s;
                &:hover {
                    @media (any-hover: hover) {
                        transform: scale(1.25);
                    }
                }
            }
        }
    }
}

.about {
    &__container {
        display: grid;
        grid-template-columns: 50% 50%;
        place-items: center;
        gap: 20px;
        @media (max-width: $mobileMedium) {
            grid-template-columns: 1fr;
        }
    }
    img {
        width: 100%;
    }
    &__body {
        h2 {
            margin-bottom: 8px;
        }
        p {
            margin-bottom: 32px;
        }
    }
}

.projects {
    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(295px, 1fr));
        gap: 20px;
    }
}

.donation {
    &__container {
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 20px;
        @media (max-width: $mobileMedium) {
            grid-template-columns: 1fr;
        }
    }
    &__body {
        h2 {
            margin-bottom: 10px;
        }
        p {
            margin-bottom: 30px;
        }
    }
    .page__donation-slider {
        .donation-slider__body {
            .donation-slider__slider {
                .slider-donation__body {
                    .slider-donation__slide {
                        width: 295px;
                    }
                }
                .slider-donation-controls {
                    &__arrows {
                        display: flex;
                        justify-content: flex-end;
                        gap: 10px;
                        .slider-arrow {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 30px;
                            height: 30px;
                            border-radius: 30px;
                            background: rgba(44, 44, 48, 0.50);
                            color: #fff;
                            &__prev {}
                            &__next {}
                        }
                    }
                }
            }
        }
    }
}

.partners {
    @include adaptiv-value('padding-top', 50, 30, 1);
    @include adaptiv-value('padding-bottom', 50, 30, 1);
    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        @media (max-width: $tablet) {
            flex-wrap: wrap;
            justify-content: center;
        }
        li {
            a {
                img {
                    display: block;
                    max-width: 200px;
                    width: 100%;
                    filter: gray;
                    -webkit-filter: grayscale(100%);
                    transition: .5s;
                }
            }
            &:hover {
                a {
                    img {
                        filter: none;
                        -webkit-filter: grayscale(0);
                    }
                }
            }
        }
    }
}

.contact {
    &__container {
        display: grid;
        grid-template-columns: 50% 50%;
        @media (max-width: $mobile) {
            grid-template-columns: 1fr;
        }
        align-items: flex-start;
        gap: 20px;
        @media (max-width: $mobileMedium) {
            grid-template-columns: 1fr;
        }
    }
    form {
        display: flex;
        flex-flow: column nowrap;
        gap: 20px;
    }
    &__body {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        @media (max-width: $tablet) {
            grid-template-columns: 1fr;
        }
        iframe {
            width: 100%;
        }
        @media (max-width: $mobileMedium) {
            flex-direction: column;
        }
    }
    &__list {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-flow: column nowrap;
        padding: 0 20px;
        background-color: $gray300;
        @media (max-width: $tablet) {
            padding: 20px;
        }
        li {
            display: flex;
            align-items: center;
            @include adaptiv-value('gap', 20, 10, 1);
            &:not(:last-child) {
                @include adaptiv-value('margin-bottom', 32, 15, 1);
            }
        }
    }
}